.card-contato{
    background-color: #d9e6f2;
}
#title1, #title2{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
}
#title1{
    color: #4d0026
}
#title2{
    color: #cca300
}
.content{
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    font-style: italic;
    color:#4d0026
}